@inherits NavMenuBase
<div>
    <RadzenPanelMenu Click="@(MenuClicked)">
        <RadzenPanelMenuItem Text="Home" Icon="home"></RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Search player" Icon="person_search"></RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Search clan" Icon="screen_search_desktop"></RadzenPanelMenuItem>
    </RadzenPanelMenu>
</div>
