@page "/"
<div class="media p-3">
	<div class="media-body">
		<h5 class="mt-0">Welcome!</h5>
		This is the World Of Tanks Blitz players statistics observer.<br>
		Start typing account login in the search box. Like "Mboga" or "G_S_R_1989".<br>
		Then choose account from list.
	</div>
	<img class="mr-3 logo-img"
		 src="_content/WotBlitzStatisticsPro.UI/Images/splash.png"
		 alt="Hello!" />
</div>

