@inherits LayoutComponentBase
<nav class="navbar navbar-dark bg-dark">
	<span class="navbar-brand mb-0 h1">World Of Tanks Blitz Statistics</span>
</nav>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-2"><WotBlitzStatisticsPro.UI.AccountsSearch.AccountsSearch></WotBlitzStatisticsPro.UI.AccountsSearch.AccountsSearch></div>
		<div class="col-sm-10">
			@Body
		</div>
	</div>
</div>