@inherits PlayerInfoStatisticsBase

<div class="chartsRow">
    <div id="battlesByTankType" style="width: 33%; min-width: 300px; height:300px; margin-top: 10px;"></div>
    <div id="winRateByTankType" style="width: 33%; min-width: 300px; height: 300px; margin-top: 10px; "></div>
    <div id="avgDmgByTankType" style="width: 33%; min-width: 300px; height: 300px; margin-top: 10px; "></div>
</div>
<div class="chartsRow">
    <div id="battlesByNation" style="width: 33%; min-width: 300px; height:500px; margin-top: 10px;"></div>
    <div id="winRateByNation" style="width: 33%; min-width: 300px; height: 500px; margin-top: 10px; "></div>
    <div id="avgDmgByNation" style="width: 33%; min-width: 300px; height: 500px; margin-top: 10px; "></div>
</div>
<div class="chartsRow">
    <div id="battlesByTier" style="width: 33%; min-width: 300px; height:600px; margin-top: 10px;"></div>
    <div id="winRateByTier" style="width: 33%; min-width: 300px; height: 600px; margin-top: 10px; "></div>
    <div id="avgDmgByTier" style="width: 33%; min-width: 300px; height: 600px; margin-top: 10px; "></div>
</div>
    @*<div id="stacked" style="width:300px; height:500px; margin-top: 20px"></div>*@